body{
    text-align: center;
    font-family: Arial;
}

#calc{
    width: 250px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid gray;
}

#display{
    width: 200px;
    height: 40px;
    margin-bottom: 10px;
    text-align: right;
}

input[type="button"]{
    width: 45px;
    height: 40px;
    margin: 3px;
}